In [10]:
import warnings
warnings.filterwarnings("ignore")


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import duckdb

# EDA

## About Data


This dataset provides information on motor vehicle operators (drivers) involved in traffic collisions occurring on county and local roadways. The dataset reports details of all traffic collisions occurring on county and local roadways within Montgomery County, as collected via the Automated Crash Reporting System (ACRS) of the Maryland State Police, and reported by the Montgomery County Police, Gaithersburg Police, Rockville Police, or the Maryland-National Capital Park Police. This dataset shows each collision data recorded and the drivers involved.

## Data Overview

In [11]:
DB_PATH = "data/data.duckdb"

conn = duckdb.connect(database=DB_PATH, read_only=False)

In [12]:
conn.sql("SHOW TABLES;")

┌──────────────┐
│     name     │
│   varchar    │
├──────────────┤
│ drivers      │
│ incidents    │
│ non_motorist │
└──────────────┘

In [13]:
conn.sql("SELECT * FROM drivers LIMIT 3;").fetchdf()

,report_number,local_case_number,agency_name,acrs_report_type,crash_datetime,route_type,road_name,cross-street_name,off-road_description,municipality,...,speed_limit,driverless_vehicle,parked_vehicle,vehicle_year,vehicle_make,vehicle_model,latitude,longitude,location,vehicle_type_group
0,DM8479000T,210020119.0,Takoma Park Police Depart,Property Damage Crash,2021-05-27 19:40:00,None,None,None,IN PARKING LOT,None,...,0,No,True,2017,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)",None
1,MCP2970000R,15045937.0,MONTGOMERY,Property Damage Crash,2015-09-11 13:29:00,None,None,None,Parking Lot: \n2525 Ennalls Ave,None,...,5,No,False,2012,TOYOTA,SU,39.039917,-77.053649,"(39.03991652, -77.05364898)",Passenger Vehicles
2,MCP20160036,180040948.0,Montgomery County Police,Property Damage Crash,2018-08-17 14:25:00,None,None,None,PARKING LOT OF 16246 FREDERICK RD,None,...,15,No,False,2015,MAZD,TK,38.743373,-77.546997,"(38.743373, -77.54699707)",Passenger Vehicles

In [14]:
conn.sql("SELECT * FROM incidents LIMIT 3;").fetchdf()

,report_number,crash_datetime,hit,lane_direction,lane_type,number_of_lanes,direction,distance,road_grade,at_fault,first_harmful_event,second_harmful_event,junction,intersection_type,road_alignment,road_condition,road_division,distance_meters
0,MCP1123002M,03/04/2019 08:41:00 AM,No,[West],None,2,EAST,200.0,GRADE DOWNHILL,DRIVER,OTHER VEHICLE,None,NON INTERSECTION,None,STRAIGHT,NO DEFECTS,"TWO-WAY, NOT DIVIDED",60.960
1,MCP21610009,06/04/2016 07:14:00 PM,Yes,[East],None,1,EAST,500.0,LEVEL,DRIVER,PARKED VEHICLE,OTHER VEHICLE,NON INTERSECTION,None,STRAIGHT,NO DEFECTS,"TWO-WAY, NOT DIVIDED",152.400
2,MCP2790000P,08/18/2015 11:00:00 PM,No,[South],None,2,SOUTH,30.0,LEVEL,UNKNOWN,PARKED VEHICLE,None,NON INTERSECTION,None,STRAIGHT,NO DEFECTS,"TWO-WAY, NOT DIVIDED",9.144

In [15]:
conn.sql("SELECT * FROM non_motorist LIMIT 3;").fetchdf()

,report_number,crash_date/time,person_id,pedestrian_type,pedestrian_movement,pedestrian_actions,pedestrian_location,at_fault,injury_severity,safety_equipment,pedestrian_category,is_helmet_present,is_lighting_present,is_reflective_wear
0,MCP3319002V,10/02/2024 07:50:00 AM,1F3BB395-2E33-4947-8C80-555FAD696A9B,Pedestrian,Standing,NONE (NO IMPROPER ACTION),Shoulder/Roadside,No,SUSPECTED MINOR INJURY,None,PEDESTRIAN,NaN,NaN,NaN
1,MCP3421000D,10/05/2024 07:22:00 AM,242F1139-5CDE-49E5-9246-623CBC4944AE,Pedestrian,Walking/Cycling on Sidewalk,NONE (NO IMPROPER ACTION),Sidewalk,No,POSSIBLE INJURY,None,PEDESTRIAN,NaN,NaN,NaN
2,MCP27560060,10/02/2024 06:49:00 PM,D0B3E839-38B6-4AD8-B8E0-71EAC13AD116,Pedestrian,Cross/Enter Not at Intersection,"DART/DASH, FAILURE TO YIELD RIGHT-OF-WAY",Travel Lane Other Location,Yes,NO APPARENT INJURY,None,PEDESTRIAN,NaN,NaN,NaN